@import url(./__item/cards__item.css);
@import url(./__image/cards__image.css);
@import url(./__title/cards__title.css);
@import url(./__description/cards__description.css);


.cards {
	max-width: 920px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, 240px);
	gap: 100px;
	list-style: none;
	margin: 0;
	padding: 0;
}