.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  position: relative;
}

.logo {
  width: 183px;
  height: 32;
  z-index: 1;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  height: 96px;
  display: flex;
  align-items: center;
  margin-left: 64px;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 1;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__link::after {
  content: " \2192";
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 0;
}

.description {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.main-text {
  width: 80%;
  min-width: 784px;
  flex-direction: column;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.two-columns__paragraph__margin {
  margin-top: 30px;
  margin-bottom: 30px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  margin-bottom: 100px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-title {
  width: 60%;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.section-title_digits {
  margin-top: 100px;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  display: flex;
  justify-content: center;
  margin: 0;
}

.table {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__margin_digits {
  margin-bottom: 100px;
}

.table__cell {
  display: inline-block;
  list-style: none;
}

.table__cell-digits {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0;
}

.table__margin {
  margin-top: 20px;
}

.feynman {
  height: 790px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.feynman__img {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 100px;
  left: auto;
  z-index: 1;
  margin: 0;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  padding-top: 70px;
  left: auto;
  margin: 0;
  z-index: 1;
}

.feynman__link {
  color: black;
  text-decoration: none;
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link::after {
  content: " \2192";
  color: black;
}

.kaufman {
  background-color: #1f1f1f;
  color: white;
  position: relative;
  overflow: hidden;
}

.kaufman__triangle {
  background-image: url(/images/kaufman-triangle.svg);
  position: absolute;
  right: -210px;
  height: 877px;
  width: 877px;
  bottom: 90px;
  top: 0;
  z-index: 0;
  background-size: cover;
}

.section-title_theme_dark {
  margin-top: 90px;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.table_theme_dark {
  margin-bottom: 90px;
}

.footer {
  background-color: #1f1f1f;
  color: white;
  min-height: 350px;
  display: flex;
  justify-content: center;
}

.footer__columns {
  display: flex;
  width: 90%;
  margin-top: 60px;
  margin-bottom: 40px;
  align-self: center;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 771px;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 18px;
  margin-bottom: 18px;
}

.footer__column_content_info {
  flex-direction: column;
  margin: 0;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 16px;
  margin-top: 0;
}

.footer__social-icon {
  flex-direction: column;
  display: flex;
}

.social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}
